.contact-form button{

}

.contact-form .input-wrapper{
    width: 280px;
}

@media screen and (min-width: 350px) {
    .contact-form .input-wrapper{
        width: 95%;
    }
}

@media screen and (min-width: 420px) {
    .contact-form .input-wrapper{
        width: 380px;
        margin-right: auto;
        margin-left: 2.5rem;
    }
}

