.project{
    
    svg{
        fill: white;
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 8px;
    }

    .image img{
        filter: grayscale(80%);
        transition: all ease-in-out .4s;
        position: relative;
    }

    .image .layer{
        background-color: rgba(15, 127, 255, 0.267);
        transition: all ease-in-out .4s;
    }

   

    .desc{
        width: 115%
    }
   
}



.project .image:hover img{
    filter: none;
}

.project .image:hover .layer{
    opacity: 0;
}


