

@media screen and (min-width: 750px ) {
    .about-level2{
        flex-direction: row;
        align-items: flex-start;
    }
    .about-description{
        width: 50%;
        margin-right: 10px;
    }

    .about-contact{
        width: 50%;
        margin-top: 0;
        margin-left: 10px;
    }
}
