.NavItems .navs .nav-item{
    width: 100%;
    border-top: 1px solid rgb(41, 41, 41);
    padding: 10px;
    cursor: pointer;
}



.NavItems .navs .nav-item:last-child{
    border-bottom: 1px solid rgb(41, 41, 41);
}

.NavItems .navs li:hover{
    color: rgb(var(--color-button))
}

.socials  svg{
    fill: rgb(var(--color-text-muted));
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer
}
.NavItems .socials  svg:hover{
    fill: rgb(Var(--color-button))
}

