html, body { height: 100%; width: 100%;}


.App {
  text-align: center;
  background-color: #060707;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-wrapper{
  width: 100%;
  height: 100%;
}

.theme{
  width: 100%;
  text-align: right;
}

.theme button{
  font-size: 14px;
  padding: 5px 10px;
  margin: 20px 0.75rem;
  border-radius: 5px;
}

.theme .purple-button{
  border: 1px solid rgb(137, 2, 179);
  color: rgb(137, 2, 179);
}

.theme .white-button{
  border: 1px solid white;
  color: white;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

