@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .-pb-2{
     margin-bottom: -0.15rem;
  }

}

@layer components{
   .top-h2{
    @apply text-4xl font-semibold font-sans text-left flex
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
