.work{
    transform: translateY(15px);
    opacity: 0;
    transition: all ease-in-out 0.6s;
}

.work.appear{
    transform: translateY(0px);
    opacity: 1;
}

.work .details{
    border-left: 1px solid gray;
    max-width: 750px;
}

.work .outer-ball{
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
}